body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

    animation: Animation 300ms 1;
}

@keyframes Animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main {
    text-align: center;
}

.grid-parent {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 5px;
    padding: 10px;
    background-color: blue;
}

img {
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.233);
}

.grid-child {
    background-color: aqua;
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

button {
    background-color: white;
    color: blue;

    border: 2px solid blue;
    border-radius: 40px;

    transition: 0.25s;
}

button:hover {
    background-color: transparent;
    color: white;

    border: solid white;

    transition: 0.25s;
}

button:active {
    background-color: aqua;
    color: black;

    border: solid black;

    transition: 0.25s;
}